
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus black portrait">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/home-page.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="feature-item">
                                  <i class="fa fa-camera text-primary"></i>
                                  <h3>Image Recognition</h3>
                                  <p class="text-muted">Take a photo of the item, image recognition (powered by the Google API) will provide you detailed disposal instructions</p>
                              </div>
                          </div>

                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-search text-primary"></i>
                                    <h3>Keyword Search</h3>
                                    <p class="text-muted">Keyword matching to guide you to the correct bin at your fingertips</p>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-database text-primary"></i>
                                    <h3>Official Data</h3>
                                    <p class="text-muted">Up to 1,500 waste items based on official City of Toronto guidelines</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-recycle text-primary"></i>
                                    <h3>Recycle Right</h3>
                                    <p class="text-muted">Recycle right is much easier with Recycle Wizard</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                                  <h3>Related Articles</h3>
                                  <p><a href="https://beta.theglobeandmail.com/news/toronto/how-toronto-is-fighting-to-keep-your-recycling-garbage-free/article35599355/?ref=http://www.theglobeandmail.com">Blue bin battle: How Toronto is fighting to keep your recycling garbage-free</a></p>

                                </div>

            </div>
    </section>
