{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "mysalesDashboard_sidebar" %}
{% assign sidebar = site.data.sidebars.mysalesDashboard_sidebar.entries %}

{% elsif page.sidebar == "researchV2_sidebar" %}
{% assign sidebar = site.data.sidebars.researchV2_sidebar.entries %}

{% elsif page.sidebar == "savedSearches_sidebar" %}
{% assign sidebar = site.data.sidebars.savedSearches_sidebar.entries %}

{% elsif page.sidebar == "categoryResearch_sidebar" %}
{% assign sidebar = site.data.sidebars.categoryResearch_sidebar.entries %}

{% elsif page.sidebar == "mydoc_sidebar" %}
{% assign sidebar = site.data.sidebars.mydoc_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "mydoc" %}
{% assign sidebar_pdf = site.data.sidebars.mydoc_sidebar.entries %}
{% endif %}

{% if site.product == "product1" %}
{% assign sidebar_pdf = site.data.sidebars.product1_sidebar.entries %}
{% endif %}

{% if site.product == "product2" %}
{% assign sidebar_pdf = site.data.sidebars.product2_sidebar.entries %}
{% endif %}
